/* 题库列表 */
.problem-list {
  flex: 3;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.problem-card {
  display: flex;
  background: white;
  border-radius: 8px;
  padding: 1.5rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  transition: transform 0.2s;
  cursor: pointer;
}

.problem-card:hover {
  transform: translateY(-3px);
  background-color: rgba(188, 167, 255, 0.091);
}

.problem-card:hover .problem-id{
  color: rgb(0, 0, 0);
}

.problem-id {
  color: #666;
  font-size: 1.5rem;
  font-weight: 700;
}

.problem-title {
  font-size: 1.1rem;
  margin-bottom: 0.75rem;
}

.problem-meta {
  font-size: 0.9rem;
  color: #666;
}

.problem-content {
  background: white;
  border-radius: 8px;
  padding: 2rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
/* 题目页 */
.problem-container {
  display: flex;
  width: 1200px;
  height: calc(100vh - 60px);
  gap: 20px;
  padding: 20px;
  border-radius: 8px;
  background-color:#fff;
}
/* 题目内容 */
.problem-detail {
  flex: 1;
  overflow-y: auto;
  padding: 15px;
  border-radius: 5px;
}
/* 编辑蛆内容 */
.code-editor {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 400px;
}
/* 代码内容 */
#code-input {
  flex-grow: 1;
  font-family: 'Consolas', monospace;
  font-size: 14px;
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #000000cc;
  border-radius: 5px;
  resize: none;
  tab-size: 2;
}

.editor-toolbar {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.output-container {
  margin-top: 15px;
  border: 1px solid #eee;
  padding: 10px;
  min-height: 100px;
}

#output-result {
  white-space: pre-wrap;
  background: #f5f5f5;
  padding: 10px;
  border-radius: 3px;
}